"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](fg:red)\
$os\
$username\
[](bg:yellow fg:red)\
$directory\
[](bg:yellow fg:yellow)\
$git_branch\
$git_status\
[](fg:yellow bg:green)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:green bg:cyan)\
$conda\
[](fg:cyan bg:blue)\
$time\
[ ](fg:blue)\
$cmd_duration\
$line_break\
$character
"""

[os]
disabled = false
style = "bg:red fg:black"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bg:red fg:black"
style_root = "bg:red fg:black"
format = "[ $user ]($style)"

[directory]
style = "bg:yellow fg:black"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:yellow fg:black"
format = "[ $symbol $branch ]($style)"

[git_status]
style = "bg:yellow fg:black"
format = "[ $all_status$ahead_behind ]($style)"

[nodejs]
style = "bg:green fg:black"
format = "[  $version ]($style)"

[c]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[rust]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[golang]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[php]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'


[java]
style = "bg:green fg:black"
format = "[  $version ]($style)"

[kotlin]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[haskell]
symbol = ""
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[python]
style = "bg:green fg:black"
format = "[  $version ]($style)"


[docker_context]
symbol = ""
style = "bg:sapphire"
format = '[[ $symbol( $context) ](fg:crust bg:sapphire)]($style)'

[conda]
symbol = "  "
style = "bg:cyan fg:black"
format = "[ $symbol$environment ]($style)"
ignore_base = false


[time]
disabled = false
time_format = "%R"
style = "bg:blue fg:black"
format = "[  $time ]($style)"


[line_break]
disabled = true

[character]
success_symbol = "[❯](bold fg:green)"
error_symbol = "[❯](bold fg:red)"
vimcmd_symbol = "[❮](bold fg:green)"


[cmd_duration]
format = "  $duration "
style = "fg:blue"
disabled = false

